<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='utf-8'>
        <title>Taskr</title>
        <link rel='stylesheet' href='../static/css/style.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Welcome to Taskr!</h1>
        
            {% for message in get_flashed_messages() %}
                <div class='flash'>{{ message }}</div>
            {% endfor %}

            {% if error %}
                <div class='error'><strong>Error:</strong> {{ error }}</strong></div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>